
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

main {
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}